*
h1
{
    font-size: 50px;
line-height: 0.8;
font-family: "arial";
}
.intro 
{
    display: flex;
    font-family: "arial";

}
h2
{
    text-align:left;
    font-size: 45px;
    font-family: "arial";
    line-height: 0.9;
 
}
body
{
    background-color: #f2ede6;
}
.MENU
{
    font-family: "arial";
    text-align: right;
}
hr
{
    border: 2px solid black;
}